@page "/operation"

<AuthorizeView>
    <Authorized>
        @if (FinancialOperationViewModel == null)
        {
            if (_errorMessage.Length > 0)
            {
                <div class="alert alert-danger" role="alert">
                    @_errorMessage
                </div>
            }
            else
            {
                <h1 class="text-center text-warning">Loading...</h1>
            }
        }
        else
        {
            <div class="container-fluid container-md">

                <table class="table table-secondary table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Category</th>
                            <th scope="col" colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in FinancialOperationViewModel!.FinancialOperations!)
                        {
                            <tr>
                                <th scope="row">@category.Id</th>
                                <td>@category.Date</td>
                                <td>@category.Amount</td>
                                <td>@category.Category!.Name</td>
                                <td colspan="2" class="text-center">
                                    <button class="btn btn-warning" @onclick='() => NavigationManager!.NavigateTo( $"/operation/edit/{category.Id}")'>Edit</button>
                                    <button class="btn btn-danger" @onclick="() => DeleteAsync(category.Id)">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center m-2">
                    @if (_paginationModel.PreviousPageAvailable)
                    {
                        <button class="btn btn-danger " @onclick="() => _paginationModel.PreviouslyPageAsync(ShowModelsAsync)">Previous</button>
                    }
                    <button class="btn btn-primary m-1">@_paginationModel.CurrentPage</button>
                    @if (_paginationModel.NextPageAvailable)
                    {
                      <button class="btn btn-success" @onclick="() => _paginationModel.NextPageAsync(ShowModelsAsync)">Next</button>
                    }
                </div>
                <div class="text-center">
                    <button class="btn btn-success " @onclick='() => NavigationManager!.NavigateTo( "/operation/add")'>Add new financail operation</button>
                </div>
                @if (_errorMessage.Length > 0)
                {
                    <div class="alert alert-danger" role="alert">
                        @_errorMessage
                    </div>
                }
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            Please authorize
        </div>
    </NotAuthorized>
</AuthorizeView>